*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  margin:0;
  padding:0;
}

body{
  margin:0;
  padding:0;
}


.navbar{
  margin: 0;
  padding:0;
  position: fixed;
  width:100%;
  z-index:10;
  box-shadow: 0 0 16px 15px rgba(0,0,0,0.25);
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 8px 60px 8px 60px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.navbar li{
  float:left;
  padding-right: 20px;
}
.navbar li a{
  display:block;
  color:#1c1c1c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-size: 20px;
  font-family: Lexend;
  font-weight: 800;

  transition: color 0.2s ease-in-out;
}
.navbar a:hover{
  color:#30cfff;
}

.banner{
  text-align: left;
}
.banner img{
  width:100%;
  position: relative;
  margin-bottom: 50px;
}
.banner #text{
  text-align: left;
  position: absolute;
  display:inline-block;
  left:70px;
  top:50%;
  transform:translateY(-50%);
  height:auto;
  width:40%;
}
.banner h1{
  font-size: 6vw;
  margin:0;
  padding: 0;
  color:#f5f5f5;
  font-family: Lexend;
  font-weight: 800;
}
.banner h3{
  font-size:2vw;
  margin: 0;
  padding: 0;
  color:#f5f5f5;
  font-family: Lexend;
  font-weight: 300;
}
.banner hr{
  height:10px;
  background-color:#f5f5f5;
  border:none;
  margin:24px 0 24px 0;
}

#about{
  text-align: center;
  margin:50px 130px 50px 130px;
}
#about h3{
  font-family: Lexend;
  font-weight: 800;
  color:#1c1c1c;
  font-size: 4vw;
}
#about p{
  font-family: Lexend;
  font-weight: 300;
  color:#1c1c1c;
  font-size: 1.5vw;
  border-style: solid;
  border-color: #1c1c1c;
  width:60%;
  padding:10px;
  margin: auto;
}
#about #portrait-cont{
  width:100%;
  height:600px;
  text-align: center;
  margin-top:120px;
  margin-bottom: 160px;
}
#portrait-cont #portrait1{
  width:200px;
  height:200px;
  background-color:red;
  margin-left:21%;
  margin-top:20px;
  margin-right: 20px;
  float:left;
}
#portrait-cont #portrait2{
  width:200px;
  height:200px;
  background-color:blue;
  margin-right:21%;
  float:right;
  margin-top:20px;
  margin-left: 20px;
}
#portrait-desc p{
  font-size: 1.2vw;
}

#work{
  margin-top:480px;
  text-align: center;
}

.img-cont{
  margin:0 80px 0 80px;
}
.col{
  width:10vw;
  height:10vw;
  overflow: hidden;
  float:left;
  margin-top:20px;
}
#expandedImg{
  width:90%;
  height:auto;
  overflow: hidden;
}
.col img{
  cursor:pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
.col img:hover{
  opacity: 1;
}
.row:after{
  content:"";
  display:table;
  clear:both;
}

#work h3{
  font-family: Lexend;
  font-size:4vw;
}
#slideshow-container{
  max-width:1400px;
  margin: 40px auto 0 auto;
  padding-top:20px;
}
.dot{
  height:16px;
  width:16px;
  margin:0 2px;
  background-color:#bbb;
  border-radius: 50%;
  display:inline-block;
  transition: background-color 0.6s ease;
}
.active{
  background-color:#717171;
}
.fade{
  -webkit-animation-name:fade;
  -webkit-animation-duration:1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{opacity:.4}
  to{opacity: 1}
}
@keyframes fade{
  from{opacity: .4}
  to{opacity: 1}
}

#contact{
  margin-top:200px;
  text-align: center;
}
#contact h3{
  color:#1c1c1c;
  font-family: Lexend;
  font-weight: 800;
  font-size: 4vw;
}

#footer{
  width:100%;
  background-color: #121212;
  font-family: Lexend;
  color:#f5f5f5;
  text-align: center;
  margin:0;
  padding:0;
}
#footer h4{
  margin:0;
  padding:0;
  margin-top:10px;
  padding-bottom: 20px;
}
#footer .fab{
  margin-top:26px;
  margin-right:30px;
  font-size:24px;
  margin-bottom:20px;
}
#footer .far{
  margin-left:-35px;
}
#footer a{
  text-decoration: none;
  color:#f5f5f5;

  transition: color 0.2s ease-in-out;
}
#footer a:hover{
  color:#30cfff;
}
